<%= stylesheet_link_tag "new", :media => "all" %>

<div class="post-container">
    <%= form_with(model: [@user,@event], url: user_event_path, local: true) do |f| %>
        <div class="title">
            <%= f.label :予定の概要 %>
            <%= f.text_field :title %>
        </div>
        <br>
        <div class="time">
            <%= f.label :開始時刻 %>
            <%= f.datetime_select :start %>
            <br>
            <%= f.label :終了時刻 %>
            <%= f.datetime_select :end %>
        </div>
        <br>
        <div class="content">
            <%= f.label :予定の内容 %>
            <%= f.text_field :content %>
        </div>
        <br>
        <div class="submit">
            <%= f.submit "編集" %>
        </div>
    <% end %>
</div>