<p id="notice"><%= notice %></p>

<p>
    <strong>タイトル</strong>
    <%= @event.title %>
</p>

<p>
    <strong>時間</strong>
    <%= @event.start.strftime("%Y-%m-%d %H:%M") %>~
    <%= @event.end.strftime("%Y-%m-%d %H:%M") %>
</p>

<p>
    <strong>内容</strong>
    <%= @event.content %>
</p>

<%= link_to '編集する', edit_user_event_path(@user.id,@event.id) %> 
<%= link_to "削除する", user_event_path(@user.id,@event.id), method: :delete, data: {confirm: 'Are you sure?'} %>
<%= link_to 'Back', user_path(@user.id) %>