<%= stylesheet_link_tag "index", :media => "all" %>

<div class="main-container">
    <% if user_signed_in? %>
        <div class="todo-container">
            <h3 class="todo-title">やることリスト</h3>
            <%= form_tag({controller:"posts",action:"index"}, method: :get) do %>
                <%= text_field_tag :search %>
                <%= submit_tag "検索" %>
            <% end %>
            <% @myposts.each do |mp| %>
                <div class="post">
                    <div class="left-container">
                        <% if current_user.already_checked?(mp) %>
                            <i class="fas fa-check-square"></i>
                        <% else %>
                            <%= link_to post_checks_path(id: mp.id, post_id: mp.id), method: :post do %>
                                <i class="far fa-check-square"></i>
                            <% end %>
                        <% end %>
                        <%= mp.subject_name %> <%= mp.content %> <%= mp.hour %>時間<%= mp.minutes %>分
                    </div>
                    <div class="right-container">
                        <%= mp.created_at %>
                        <%= link_to edit_post_path(mp.id) do %>
                            <i class="fas fa-pen"></i>
                        <% end %>
                        <%= link_to post_path(mp.id), method: :delete do %>
                            <i class="fas fa-trash-alt"></i>
                        <% end %>
                    </div>
                </div>
            <% end %>
        </div>
        <div class="timeline-container">
            <h3 class="todo-title">みんなの状況</h3>
            <%= form_tag({controller:"posts",action:"index"}, method: :get) do %>
                <%= text_field_tag :search %>
                <%= submit_tag "検索" %>
            <% end %>
            <% @posts.each do |p| %>
                <% if current_user.already_checked?(p) %>
                    <div class="post">
                        <a href="/users/<%= p.user.id %>"><%= p.user.name %></a>
                        <div class="left-container">
                            <%= p.subject_name %> <%= p.content %> <%= p.hour %>時間<%= p.minutes %>分
                        </div>
                        <div class="right-container">
                            <%= p.created_at %>
                            <%= link_to post_path(p.id) do %>
                                <i class="fas fa-info-circle"></i>
                            <% end %>
                            <% if user_signed_in? %>
                                <% if current_user.already_liked?(p) %>
                                    <%= link_to post_like_path(id: p.id, post_id: p.id), method: :delete , data: {confirm: '本当に消してもいいの？'} do %>
                                        <i class="fas fa-heart"></i><%= p.likes.count %>
                                    <% end %>
                                <% else %>
                                    <%= link_to post_likes_path(id: p.id, post_id: p.id), method: :post do %>
                                        <i class="far fa-heart"></i><%= p.likes.count %>
                                    <% end %>
                                <% end %>
                            <% else %>
                                <i class="far fa-heart"></i> <%= p.likes.count %>
                            <% end %>
                        </div>
                    </div>
                <% end %>
            <% end %>
        </div>
    <% end %>
</div>