<h3>新規投稿</h3>
<div class="post-container">
    <p class="title">投稿フォーム</p>
    <%= form_for @post do |f| %>
        <div class="field">
            <%= f.label :教科名 %>
            <%= f.text_field :subject_name, :size => 140 %>
        </div>

        <div class="field">
            <%= f.label :内容 %>
            <%= f.text_field :content, :size => 140 %>
        </div>

        <div class="field">
            <%= f.label :目標時間 %>
            <%= f.number_field :hour ,:max => 24,:min => 0%>:<%= f.number_field :minutes, :max => 60, :min => 0 %>
        </div>
        <%= f.submit "投稿" %>
    <% end %>
</div>

<div class="main-container">
    <div class="post-container">
        <h3>やることの追加</h3>
        <div class="post-container">
            <p class="post-title">投稿フォーム</p>
            <%= form_for @post do |f| %>
                <div class="field">
                    <%= f.label :教科名 %>
                    <%= f.text_field :subject_name, :size => 140 %>
                </div>
                
            <% end %>
        </div>
    </div>
</div>