<h1>ToDoリスト</h1>
<h3>新規投稿</h3>
<div class="post-container">
    <p class="title">投稿フォーム</p>
    <%= form_for @post do |f| %>
        <div class="field">
            <%= f.label :教科名 %>
            <%= f.text_field :subject_name, :size => 140 %>
        </div>

        <div class="field">
            <%= f.label :content %>
            <%= f.text_field :content, :size => 140 %>
        </div>
        <%= f.submit "投稿" %>
    <% end %>
</div>
<%= link_to("やること一覧に戻る", posts_path) %>

<%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>
